
*.pch
*.log
*.tlog
*.ipch
*.obj
*.filters
*.ilk
*.exe
*.pdb
*.db
Program/AutoFocus/.vs/AutoFocus/v14/.suo
*.vcxproj
*.filters
*.res
*.idb
*.vcxproj
*.db
*.db
*.filters
*.vcxproj
Program/AutoFocus/.vs/AutoFocus/v14/.suo
*.vcxproj
*.jpg
